@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
p {
  color: black;
}
nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    display: flex;
    /* padding-left: 300px; */
}
nav .menu{
    max-width: 3000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* padding-left: 100px; */
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.menu ul{
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 300px;

}
.menu ul li{
    list-style: none;
    /* margin-left: 7px; */
    margin: auto;
    margin-left: 15px;

}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500px;
    /* background: white; */
    background-color: lightblue;
    padding: 15px 28px;
    padding: 8 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background-color: navy;
    color: #fff;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  padding-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 170px;
  width: 400px; /* To maintain aspect ratio */
}

.zoom {
    transition: transform .5s; /* Animation */
    width: 80px;
    margin: 150px;
  }
  
  .zoom:hover {
    transform: scale(1.07); 
  }
.card-container{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}
.card{
    width: 350px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    margin : 20px;
}
.card img{
     width:100%;
     height: auto;
}
.card-content{
    padding:16px;
}
.card-content h3{
    font-size: 28px;
    /* margin-bottom: 8px; */
}
p{
    color: #666;
    font-size: 16px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding:8px 16px;
    background-color: navy;
    border-radius: 8px;
    margin-top: 16px;
}
/* .slider-frame {
    overflow: hidden;
    height: 850px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
 } */

@-webkit-keyframes slide_animation{
    0%{left:0px;}
    10%{left:0px;}
    20%{left:1200px;}
    30%{left:1200px;}
    40%{left:2400px;}
    50%{left:2400px;}
    60%{left:1200px;}
    70%{left:1200px;}
    80%{left:0px;}
    90%{left:0px;}
    100%{left:0px;}
}
/* .slide-images{
    width: 4800px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state: running;
} */


.img-container{
    height: 800px; 
    width: 1199px; 
    position: relative;
    float: inline-start;
    padding: 0px;
}
main {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
h2 {
    padding: 20px;
}
section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
    color: navy;
}

footer {
    background-color: navy;
    overflow: hidden;
}
footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
.footer-image-logo {
    padding: 0 6rem 3rem;
    max-width: 91.71429rem;
    margin: 0 auto;
}
.footer-image-logo img {
    max-width: 50px;
}
 .slide {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
} 
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
#myButton {
  margin-left: 10px; /* Add margin to space out buttons */
  background-color: navy; /* Add your desired button background color */
  color: white;
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 21px;
}

  #myPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 20%;
    width: 30%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: lightblue;
    border: 1px solid #ccc;
    border-radius: 10%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  